@page "/"
@using Microsoft.AspNetCore.Components

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-primary mt-3" @onclick="NavigateToUsers">Add new user</button>

@code {
    [Inject]
    private NavigationManager NavManager { get; set; } = default!;

    private void NavigateToUsers()
    {
        NavManager.NavigateTo("/users");
    }
}
